.su-generator-hidden { display: none !important }
.wp-media-buttons .button.su-generator-button { padding-left: 0.4em }

#su-generator-wrap { display: none }
#su-generator {
	max-width: 600px;
	margin: 28px auto 100px auto;
	padding: 20px;
	background: #fff;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 2px 25px #000;
	-moz-box-shadow: 0 2px 25px #000;
	-webkit-box-shadow: 0 2px 25px #000;
}

/* Generator tools */
#su-generator-tools {
	text-align: right;
	margin-bottom: 20px;
}
#su-generator-tools span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	vertical-align: middle;
	border-right: 1px dotted #555;
}

/* Search box */
#su-generator-search {
	width: 100%;
	margin-bottom: 30px;
	padding: 10px;
	font-size: 1.2em;
}

/* Filter box */
#su-generator-filter {
	margin: 0 -20px;
	padding: 1.5em 20px;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #555;
	text-align: center;
}
#su-generator-filter strong { margin: 0 1em }
#su-generator-filter a {
	margin: 0 1em;
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

/* Dropdown choices */
#su-generator-choices { margin-top: 20px }
#su-generator-choices:after {
	content: '';
	display: block;
	clear: both;
}
#su-generator-choices > span {
	float: left;
	display: block;
	width: 88px;
	height: 88px;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #fff;
	border-bottom-color: #e5e5e5;
	border-bottom-style: dotted;
	text-align: center;
	color: #222;
	cursor: pointer;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#su-generator-choices span:hover {
	background: #f5f5f5;
	border: 1px solid #2687B3;
	box-shadow: 0 0 20px #fff inset;
	-moz-box-shadow: 0 0 20px #fff inset;
	-webkit-box-shadow: 0 0 20px #fff inset;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#su-generator-choices span img {
	display: inline;
	width: 32px;
	height: 32px;
	margin: 12px 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
#su-generator-choices span:hover img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#su-generator-choices strong {
	display: block;
	text-transform: uppercase;
	font-size: 0.9em;
}

/* Breadcrumbs */
#su-generator-breadcrumbs {
	margin: 0 -20px;
	padding: 1.5em 20px;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #555;
}
#su-generator-breadcrumbs span { font-weight: bold }
#su-generator-breadcrumbs small {
	margin-left: 1em;
	font-size: 0.9em;
	font-weight: normal;
	color: #aaa;
}

/* Shortcode settings (attributes) */
#su-generator-settings { display: none }
.su-loading-animation {
	min-height: 100px;
	background: 50% 50% url("../images/generator/loading.gif") no-repeat;
}
.su-loading-animation * { display: none }

/* Attribute container */
#su-generator-settings .su-generator-attr-container {
	margin: 0 -20px;
	padding: 1.5em 20px;
	border-bottom: 1px solid #ccc;
}

/* Attribute name */
#su-generator-settings h5,
#su-generator-preview h5 {
	margin: 0 0 15px 0;
	font-size: 1em;
}

/* Attribute description */
.su-generator-attr-desc {
	margin-top: 15px;
	color: #aaa;
	font-style: italic;
	line-height: 1.6;
}
.su-generator-attr-desc b { color: #999 }

/* Clickable values in attribute description */
.su-generator-attr-desc b.su-generator-set-value {
	border-bottom: 1px dotted #999;
	cursor: pointer;
}
.su-generator-attr-desc b.su-generator-set-value:hover {
	color: #333;
	border-bottom: 1px dotted #333;
}

/* Common attribute fields */
#su-generator-settings input,
#su-generator-settings textarea,
#su-generator-settings select {
	width: 100%;
	padding: 10px;
	height: auto;
}

/* Upload fields */
.su-generator-upload-field-wrap { position: relative }
.su-generator-upload-field {
	display: inline-block;
	width: 85%;
}
.su-generator-upload-button {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	width: 14%;
	height: 100%;
	overflow: hidden;
}
.su-generator-upload-button a.button {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
}
.su-generator-upload-button input {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	font-size: 10em;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.su-generator-uploading { background: 50% 50% url('../images/generator/loading.gif') no-repeat }
#su-generator-settings .su-generator-uploading * {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

/* Switches */
.su-generator-switch {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}
.su-generator-switch span {
	display: none;
	padding: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.su-generator-switch-yes span.su-generator-yes {
	display: block;
	background: #E0FFE0;
	color: #0c0;
}
.su-generator-switch-no span.su-generator-no {
	display: block;
	background: #f5f5f5;
	color: #777;
}

/* Color pickers */
.su-generator-select-color {
	position: relative;
}
.su-generator-select-color-wheel {
	position: absolute;
	left: 0;
	top: 23px;
	display: none;
	background: #fff;
	border: 1px solid #aaa;
	z-index: 9999;
	box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	-webkit-box-shadow: 0 2px 5px #ccc;
}

/* Preview box */
#su-generator-preview {
	display: none;
	margin: 0 -20px;
	padding: 1.5em 20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.su-preview-loading {
	min-height: 60px;
	background: 50% 50% url('../images/generator/loading.gif') no-repeat;
}
/* make some previews visible */
#su-generator-preview .su-column { outline: 1px dotted #ccc }

/* Actions box */
.su-generator-actions {
	margin: 0 -20px -20px;
	padding: 1.5em 20px;
	background: #eee;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#su-generator-insert {
	color: #fff !important;
	font-weight: bold;
}