.su-clear {
	height: 0;
	clear: both;
}

/* About screen */
#su-about-screen { }
#su-about-screen h1 { margin: 1.5em 0 }
#su-about-screen h1 small {
	display: block;
	margin: 7px 0 0 20px;
	font-size: 0.5em;
	font-weight: normal;
	color: #aaa;
}
#su-about-screen .su-about-column {
	float: left;
	width: 300px;
	margin-right: 30px;
}
#su-links {
	margin-bottom: 1.5em;
	line-height: 1.6;
}
#su-links span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	border-right: 1px dotted #777;
	vertical-align: middle;
}
#su-video {
	width: 100%;
	max-width: 630px;
	min-width: 200px;
	margin-top: 40px;
}
#su-video iframe {
	width: 100%;
	height: 370px;
}

/* CheatSheet screen */
.su-table-demos tr.even td { background: #fff }
.su-table-demos td { padding: 20px 10px }
.su-table-demos td small { color: #aaa }
.su-table-demos td a.su-preview {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 3px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 1px 5px #ccc;
	-moz-box-shadow: 0 1px 5px #ccc;
	-webkit-box-shadow: 0 1px 5px #ccc;
}
.su-table-demos td a.su-preview:after {
	display: none;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0) 50% 120% url('../images/preview.png') no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.su-table-demos td a.su-preview:hover:after { display: block }
.su-table-demos td a.su-preview img {
	position: absolute;
	top: -5%;
	left: -50%;
	display: block;
}
.su-table-demos td a.su-preview:hover:after {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0) 50% 50% url('../images/preview.png') no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
}
.su-table-demos td h4 {
	margin: 5px 0;
	font-size: 1.2em;
}
.su-table-demos td span {
	display: block;
	margin-bottom: 10px;
}
.su-table-demos td strong {
	display: block;
	margin-bottom: 0.7em;
}
.su-table-demos .su-cheatsheet-parameter { line-height: 1.5 }
.su-table-demos td textarea {
	height: 90px;
	width: 100%;
	border: none;
	background: #ffffe6;
}

/* Galleries screen */
#su-galleries {
	margin: 1em 0;
}
#su-galleries-actions { margin-bottom: 1.5em }
#su-galleries-not-found {
	font-size: 1.5em;
	color: #ccc;
	font-weight: bold;
	margin: 1em 0;
}
.su-gallery { margin: 1em 0 }
.su-gallery-title {
	position: relative;
	padding: 5px 15px;
	background: #eee;
	color: #333;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #f8f8f8 2%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(2%, #f8f8f8), color-stop(100%, #ececec));
	background: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 2%, #ececec 100%);
	background: -o-linear-gradient(top, #fff 0%, #f8f8f8 2%, #ececec 100%);
	background: -ms-linear-gradient(top, #fff 0%, #f8f8f8 2%, #ececec 100%);
	background: linear-gradient(to bottom, #fff 0%, #f8f8f8 2%, #ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec', GradientType=0);
}
.su-gallery-edit .su-gallery-title {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
input.su-gallery-name {
	position: relative;
	top: 1px;
	width: 200px;
	font-weight: bold;
	border-width: 0;
	background-color: transparent;
}
.su-gallery-edit input.su-gallery-name {
	top: 0;
	font-weight: normal;
	border-width: 1px;
	background-color: #fff;
}
.su-gallery-actions {
	position: absolute;
	top: 10px;
	right: 15px;
}
.su-gallery-actions a { margin-left: 1em }
.su-gallery-close,
.su-gallery-save-close { display: none }
.su-gallery-edit .su-gallery-close,
.su-gallery-edit .su-gallery-save-close { display: inline }
.su-gallery-edit .su-gallery-open { display: none }
.su-gallery-delete { color: #f03 }
.su-gallery-edit .su-gallery-save-close { font-weight: bold }

.su-gallery-content {
	height: 0;
	overflow: hidden;
	transition: padding-top .2s;
	-o-transition: padding-top .2s;
	-ie-transition: padding-top .2s;
	-moz-transition: padding-top .2s;
	-webkit-transition: padding-top .2s;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.su-gallery-edit .su-gallery-content {
	height: auto;
	padding: 15px;
	border: 1px solid #dfdfdf;
	border-top: none;
}
.su-gallery-image {
	position: relative;
	min-height: 60px;
	padding: 10px 0 10px 75px;
	background: #fff;
	border-bottom: 1px dotted #ddd;
}
.su-gallery-image-sort-handle {
	position: absolute;
	right: 0;
	top: 10px;
	display: block;
	width: 30px;
	height: 30px;
	background: 50% 50% url('../images/galleries/move.png') no-repeat;
	cursor: move;
}
.su-gallery-image-preview {
	position: absolute;
	left: 0;
	top: 10px;
	display: block;
	width: 60px;
	height: 60px;
}
.su-gallery-image-preview img {
	width: 50px;
	height: 50px;
	padding: 3px;
	border: 1px solid #ddd;
}
.su-gallery-image:last-child {
	border: none;
	margin: 0;
}
.su-gallery-image:nth-child(even) { background: #f8f8f8 }

.su-gallery-add-image {
	position: relative;
	height: 60px;
}
.su-gallery-add-image input {
	position: absolute;
	left: 0;
	top: 0;
	filter: alpha(opacity=0);
	opacity: 0;
}
.su-gallery-image-uploading { background: 0 5px url('../images/galleries/loading.gif') no-repeat }
.su-gallery-image-uploading * {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.su-gallery-image-header { height: auto }
.su-gallery-image-edit .su-gallery-image-header {
	height: 0;
	overflow: hidden;
}
.su-gallery-image-title {
	display: inline-block;
	margin: 7px 0;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}
.su-gallery-image-actions { display: block }
.su-gallery-image-actions a {
	margin-right: 1em;
	font-size: 0.9em;
}
.su-gallery-image-actions a.su-gallery-image-delete { color: #f03 }

.su-gallery-image-data {
	height: 0;
	overflow: hidden;
}
.su-gallery-image-edit .su-gallery-image-data { height: auto }
.su-gallery-image-data label {
	display: inline-block;
	margin-bottom: 2px;
	font-size: 0.9em;
}
.su-gallery-image-data input,
.su-gallery-image-data textarea {
	width: 300px;
	margin-bottom: 15px;
}
.su-gallery-image-data textarea { width: 90% }

/* Custom CSS screen */
#su-custom-css-screen { }
#su-custom-css-screen textarea {
	width: 100%;
	border: 1px solid #ccc;
}

.su-custom-css-originals,
.su-custom-css-vars {
	margin: 1.5em 0;
	line-height: 1.8;
}
.su-custom-css-originals span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	border-right: 1px dotted #777;
	vertical-align: middle;
}

body.toplevel_page_shortcodesultimate .mfp-iframe-scaler iframe { background: #fff }

#sunrise-plugin-field-custom_css-editor { height: 300px }
#sunrise-plugin-field-custom_css-editor .ace_scrollbar { overflow-y: auto !important }